body {
    background-image: url('img/background.png');
    background-position: center center;
    background-size: cover;
    font-family: Arial, sans-serif;
}

#title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #aaa;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 30px;
    max-width: 40%;
    /*center*/
    margin-left: auto;
    margin-right: auto;
}

#currentPlayer {
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);  /* Dodane tło */
}

#kartyPrzeciwnika, #stol, #mojeKarty {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);  /* Dodane tło */
}

#kartyPrzeciwnika div::before, #stol div::before, #mojeKarty div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #e4b085, #d9a575);
    z-index: -1;
    border-radius: 10px;
}

#kartyPrzeciwnika div, #stol div, #mojeKarty div {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 340px;  /* Na przykład 330px */
    border: 2px solid black;
    border-radius: 10px;
    background: url('img/wood.jpg') center center / cover no-repeat, #a59191;
    box-shadow: 0 0 5px #aaa;
    display: flex;              /* Dodane */
    flex-direction: column;     /* Dodane */
    align-items: center;        /* Dodane */
    justify-content: flex-start;    /* Dodane */
    margin: 10px;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    overflow: auto;
}



#kartyPrzeciwnika div > *, #stol div > *, #mojeKarty div > * {
    display: block; /* Zapewnia, że każdy element jest wyświetlany jako blok */
    background-color: rgba(255, 255, 255, 0.8); /* Lekko przezroczyste białe tło */
    z-index: 1; /* Upewniamy się, że jest wyświetlany powyżej tła diva */
    position: relative; /* Względne pozycjonowanie, aby z-index działał poprawnie */
}

.game-section div .card-image {
    height: 125px; /* Stała wysokość obrazu */
    width: 95%; /* Stała szerokość obrazu */
    border-radius: 8px;
    border: 2px solid black;
    object-fit: cover; /* Obraz będzie pokrywał cały dostępny obszar, ale może być przycięty */
    object-position: center;
    display: block;
    margin: 0 auto 2px;  /* Zredukowany margines górny */
    margin-bottom: 2px;
}

#kartyPrzeciwnika div .card-image, #stol div .card-image, #mojeKarty div .card-image {
    height: 125px;
    width: 95%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-bottom: 2px solid #000000;
}

#kartyPrzeciwnika div .card-name, 
#stol div .card-name, 
#mojeKarty div .card-name,
#kartyPrzeciwnika div .card-stats, 
#stol div .card-stats, 
#mojeKarty div .card-stats,
#kartyPrzeciwnika div .card-description, 
#stol div .card-description, 
#mojeKarty div .card-description {
    width: calc(100% - 20px);
    box-sizing: border-box;
    opacity: 1;
    padding: 3px 8px; /* Zmniejszony padding */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    max-height: calc((340px - 125px - 2*10px) / 2);  /* Zwiększono o 10px z uwzględnieniem zmniejszenia paddingu */
    overflow-y: auto; 
    margin-top: 2px; /* Dodany niewielki margines górny */
}

div#kartyPrzeciwnika div .card-name, 
div#stol div .card-name, 
div#mojeKarty div .card-name,
div#kartyPrzeciwnika div .card-stats, 
div#stol div .card-stats, 
div#mojeKarty div .card-stats,
div#kartyPrzeciwnika div .card-description, 
div#stol div .card-description, 
div#mojeKarty div .card-description {
    background-color: rgba(255, 255, 255, 0.7) !important;
}


#kartyPrzeciwnika div .card-name, #stol div .card-name, #mojeKarty div .card-name,
#kartyPrzeciwnika div .card-stats, #stol div .card-stats, #mojeKarty div .card-stats,
#kartyPrzeciwnika div .card-description, #stol div .card-description, #mojeKarty div .card-description {
    width: calc(100% - 20px);
    box-sizing: border-box;
    opacity: 1;
    padding: 8px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
}

.game-section div .card-name {
    font-size: 1.1em;
    height: auto;
    font-weight: bold;
    color: #444;
}

.game-section div .card-stats {
    font-size: 1.0em;
    font-weight: bold;
    padding: 4px 0;
    height: auto;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.game-section div .card-description {
    font-size: 0.8em;
    height: auto;
    padding: 4px;
    border-radius: 4px;
}

button {
    display: block;
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 150px;
}

button:hover {
    background-color: #555;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.game-section div:hover {
    transform: scale(1.08);
    transition: transform 0.3s;
}

#kartyPrzeciwnika div.selected, #stol div.selected, #mojeKarty div.selected {
    border-color: #ffcc00;
}

.card-highlight-blue {
    border-color: blue;
}


.card-highlight-red {
    border-color: red;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.right-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed; /* Zmienione z absolute na fixed */
    right: 45px;
    top: 50%;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 300px;
    margin: 0 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
}

.center-content span, span, p, h1, h2, h3, h4, h5, h6 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    /*only upper border radius*/
    border-radius: 10px 10px 0 0;
}

.section-label {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.game-section {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    height: auto;
    width: 100%;
    max-width: 800px;
    min-width: 1300px;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#kartyPrzeciwnika div > *, 
#stol div > *, 
#mojeKarty div > * {
    display: block; /* Zapewnia, że każdy element jest wyświetlany jako blok */
    background-color: #fff;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align to the start to be on the left side */
    position: fixed; /* Fixed position to stay in place */
    left: 45px; /* Position it 45px from the left */
    top: 50%; /* Vertically center it */
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    padding: 10px;
    width: 230px; /* Set a width for the log */
    height: 400px; /* Set a height for the log */
    overflow-y: auto; /* Make it scrollable */
}

#combatLog {
    width: 100%; /* Take up the full width of the container */
    height: 100%; /* Take up the full height of the container */
    overflow-y: auto; /* Make the log itself scrollable */
    background-color: rgba(255, 255, 255, 0.363);
    border: 1px solid #dddddd4d; /* Border for the log */
    padding: 10px; /* Padding inside the log */
    box-sizing: border-box; /* Make sure padding doesn't increase the size */
    font-size: 1em; /* Increased font size for the log messages */
    font-weight: bold; /* Make the log messages bold */
}

label {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}
